@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* ------ css reset ------ */
  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  img {
    width: 100%;
    height: auto;
    display: block;
  }

  h1,
  h2 {
    @apply font-caslon;
    @apply italic;
    @apply text-orange-500;
  }
  h1 {
    @apply text-headline1;
    @apply sm:text-headline1-lg;
    @apply font-semibold;
  }
  h2 {
    @apply text-headline2;
    @apply sm:text-headline2-lg;
    @apply font-regular;
  }
  h3 {
    @apply font-opensans;
    @apply text-headline3;
    @apply sm:text-headline3-lg;
  }

  p,
  a {
    @apply text-body;
    @apply sm:text-body-lg;
    @apply font-opensans;
    @apply font-regular;
  }

  @keyframes scroll {
    0% {
      transform: translate(0);
    }

    to {
      transform: translate(-35%);
    }
  }
  .animate-scroll {
    animation: scroll 60s linear infinite;
    animation-fill-mode: forwards;
  }

  @keyframes scroll-reverse {
    0% {
      transform: translate(-35%);
    }

    to {
      transform: translate(0);
    }
  }

  .animate-scroll-reverse {
    animation: scroll-reverse 60s linear infinite;
    animation-fill-mode: forwards;
  }

  .vippe {
    animation: vippe 2s infinite step-end;
  }

  @keyframes vippe {
    0%,
    100% {
      transform: rotate(-10deg);
    }
    50% {
      transform: rotate(10deg);
    }
  }
  .delay {
    animation-delay: 1s;
  }
}
