---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import { Image } from 'astro:assets';
import Visa from "../assets/images/visa.svg";
import Mastercard from "../assets/images/mastercard.svg";
import BlackNaturvinskassen from "../assets/images/naturvinkassen-black.svg";
---
<style>
    h2{
        @apply italic;
        @apply text-orange-500
    }
    .ikon:hover #first-bar{
       transform: rotate(90deg);
    }
    .ikon:hover #second-bar{
        transform: rotate(0deg);
    }
</style>
<MainLayout>
    <article class="grid lg:grid-cols-2 relative">
        <!-- ordreoversigt -->
        <section class="lg:order-1 bg-offwhite  " >
            <!-- med til at gøre boksen sticky -->
            <div class="md:sticky top-[10%] self-start">
                <!-- skjul ordreoversigtbar -->
                <!-- <div id="oversigtsbar" class="flex justify-between border-b lg:hidden  border-orange-500 p-xs">
                    <div class="flex-row flex  ">
                        <p class="self-center">
                        Skjul ordreoversigt
                        </p>
                        <div class="self-center relative w-6 h-6 flex items-center justify-center transition-transform duration-300">
                            <span 
                                class="absolute block w-full h-1 bg-green-500 transform rotate-0 peer-checked:rotate-45 transition-transform ease-in-out"></span>
                            <span 
                                class="absolute block w-full h-1 bg-green-500 transform rotate-90 peer-checked:-rotate-45 transition-transform ease-in-out"></span>
                        </div>
                    </div>
                    <p class="self-center">
                    450 DKK / md.
                    </p>
            </div> -->
                    <!-- Toggle bar -->
        <label 
        for="toggle-oversigt" 
        id="oversigtsbar" 
        class="flex justify-between border-b lg:hidden border-orange-500 p-xs cursor-pointer">
        <div class="flex-row flex items-center gap-xs">
            <p
             class="self-center peer-checked:hidden ">Skjul ordreoversigt</p>
            <p class="self-center hidden peer-checked:block">Vis ordreoversigt</p>
            <!-- plusikon -->
            <div class="ikon self-center relative w-5 h-6 flex items-center justify-center transition-transform duration-300">
                <div
                     id="first-bar"
                    class="absolute block w-full h-0.5 bg-green-500 transform rotate-45  peer-checked:rotate-0 transition-transform ease-in-out">
            </div>
                <span
                     id="second-bar"
                    class="absolute block w-full h-0.5 bg-green-500 transform -rotate-45  peer-checked:-rotate-90 transition-transform ease-in-out">
                </span>
            </div>
        </div>
        <p class="self-center">450 DKK / md.</p>
    </label>

    <!-- Hidden checkbox to manage state -->
    <input 
        type="checkbox" 
        id="toggle-oversigt" 
        class="peer hidden" />
                 <!-- selve ordreoversigten (indholdet) -->
                <div id="oversigtsindhold" class=" peer-checked:hidden transition-[max-height] duration-300 ease-in-out p-xs lg:p-lg py-sm border-b lg:border-0 border-orange-500 grid gap-xs">
                    <h2 class="text-headline2 sm:text-headline2-lg">Ordreoversigt</h2>
                    <div class="flex flex-row justify-between ">
                        <article class="flex flex-row gap-xs">
                        <!-- ikon af kassen -->
                         <div class="">
                            <div class=" relative rounded-mobile lg:rounded-desktop border border-lightgrey ">
                                <span class="flex justify-center h-6 w-6 rounded-full absolute -right-2 -top-2 bg-orange-300 aspect-1 p-xxs text-sm">
                                    <span class="justify-center self-center ">1</span>
                                </span>
                                <Image class="p-xxs aspect-1" src={BlackNaturvinskassen} alt="sort natuvinskassen ikon"></Image>
                            </div>
                            <div class="relative flex items-center">
                                <button type="button" id="decrement-button" data-input-counter-decrement="counter-input" class="flex-shrink-0 inline-flex items-center justify-center  rounded-md h-5 w-5 focus:ring-0 focus:outline-none">
                                    <svg class="w-2.5 h-2.5 text-orange-300 hover:text-orange-500 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 2">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h16"/>
                                    </svg>
                                </button>
                                <input type="text" id="counter-input" data-input-counter class="flex-shrink-0 text-darkgrey  border-0 bg-transparent text-sm font-normal focus:outline-none focus:ring-0 max-w-[2.5rem] text-center" placeholder="" value="1" required />
                                <button type="button" id="increment-button" data-input-counter-increment="counter-input" class="flex-shrink-0  inline-flex items-center justify-center  h-5 w-5 focus:border-orange-300 focus:ring-0 focus:outline-none">
                                    <svg class="w-2.5 h-2.5 text-orange-300  hover:text-orange-500 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="#FF9C66" viewBox="0 0 18 18">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
                                    </svg>
                                </button>
                            </div>
                        </div>
       
                        <!-- beskrivelse -->
                        <p class="py-xs">
                            Naturvinskassen -
                            <br>
                            Månedlig abonnement
                        </p>
                    </article>
                        <p>
                            450 DKK / md.
                        </p>
                    </div>
                    <!-- rabat -->
                    <div>
                        <div class="mb-xxs">
                            <input 
                                type="text"
                                class="bg-white border border-lightgrey placeholder:text-lightgrey text-darkgrey text-body sm:text-body-lg rounded-mobile md:rounded-desktop focus:ring-orange-500 focus:border-orange-500 block w-full  "
                                placeholder="Rabatkode eller gavekort" />
                        </div>

                        <div class="flex justify-end pt-xxs">
                            <Button variant="stroke">Brug</Button>
                        </div>  
                    </div>
                    <!-- pris subtotal, levering og alt -->
                    <div class="grid gap-xs pt-xs">
                        <!-- pris subtotal og levering  -->
                        <div class="grid gap-xxs">
                            <div class="flex flex-row justify-between">
                                <p>Subtotal</p>
                                <p>450 DKK</p>
                            </div>
                            <div class="flex flex-row justify-between">
                                <p>Levering</p>
                                <p>Gratis</p>
                            </div>
                        </div>
                        <!-- ialt pris -->
                        <div class="flex flex-row justify-between">
                            <div class="grid ">
                                <h3 class="font-semibold">I alt</h3>
                                <span class="text-xs">Inklusiv 20 DKK i moms</span>
                            </div>
                                <p>
                                450 DKK
                                </p>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <div>
        <form class="pt-sm p-xs grid gap-sm lg:px-lg lg:pt-lg">
            <article>
                <div class="flex flex-row justify-between">
                     <h2>Kontaktoplysninger</h2>
                     <a href="" class="underline self-center pointer text-body sm:text-body-lg ">Log ind</a>
                </div>
               
                <div class="relative">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                    <svg class="w-4 h-4 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="#FF9C66" viewBox="0 0 20 16">
                        <path d="m10.036 8.278 9.258-7.79A1.979 1.979 0 0 0 18 0H2A1.987 1.987 0 0 0 .641.541l9.395 7.737Z"/>
                        <path d="M11.241 9.817c-.36.275-.801.425-1.255.427-.428 0-.845-.138-1.187-.395L0 2.6V14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2.5l-8.759 7.317Z"/>
                    </svg>
                    </div>
                    <input 
                        type="text" 
                        id="email-address-icon" 
                        class="bg-transparent border placeholder:text-lightgrey border-lightgrey text-darkgrey text-body sm:text-body-lg rounded-mobile md:rounded-desktop focus:ring-orange-500 focus:border-orange-500 block w-full ps-10 p-2.5" 
                        placeholder="E-mail">
                </div>

            </article>
            <article class="grid gap-xs">
                <div>
                    <h2>Levering</h2>  
                     <div class="flex-col flex gap-xs"> 
                        <div class="flex items-center me-4">
                            <input checked id="privat" type="radio" value="" name="levering" class="w-4 h-4 text-orange-300 bg-white border-lightgrey focus:ring-red-500 focus:ring-2">
                            <label for="privat" class="ms-2 text-body sm:text-body-lg  text-darkgrey">GLS (Privatlevering) </label>
                        </div>
                        <div class="flex items-center me-4">
                            <input id="pakkeshop" type="radio" value="" name="levering" class="w-4 h-4 text-orange-300 bg-white border-lightgrey focus:ring-red-500 focus:ring-2">
                            <label for="pakkeshop" class="ms-2 text-body sm:text-body-lg  text-darkgrey">GLS pakkeshop </label>
                        </div>
                        <div class="flex items-center me-4">
                            <input id="erhverv" type="radio" value="" name="levering" class="w-4 h-4 text-orange-300 bg-white border-lightgrey focus:ring-red-500 focus:ring-2">
                            <label for="erhverv" class="ms-2 text-body sm:text-body-lg text-darkgrey">GLS erhverv </label>
                        </div>
                        <div class="flex items-center me-4">
                            <input id="strakslevering" type="radio" value="" name="levering" class="w-4 h-4 text-orange-300 bg-white border-lightgrey focus:ring-red-500 focus:ring-2">
                            <label for="strakslevering" class="ms-2 text-body sm:text-body-lg text-darkgrey">GLS strakslevering</label>
                        </div>
                        <div class="flex items-center me-4">
                            <input id="afhentning" type="radio" value="" name="levering" class="w-4 h-4 text-orange-300 bg-white border-lightgrey focus:ring-red-500 focus:ring-2">
                            <label for="afhentning" class="ms-2 text-body sm:text-body-lg text-darkgrey">Afhentning i butik </label>
                        </div>
                    </div>
                </div>

                <div class="grid gap-xs">
                        <select 
                            id="countries" 
                            name="contries" 
                            class="bg-white border border-lightgrey text-darkgrey text-body sm:text-body-lg rounded-mobile md:rounded-desktop focus:ring-orange-500 focus:border-orange-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-orange-500 dark:focus:border-orange-500">
                          <option>Danmark</option>
                          <option>Frankrig</option>
                          <option>Tyskland</option>
                          <option>Sverige</option>
                        </select>
                        <div class="flex flex-row gap-xs">
                                <input 
                                    type="text"
                                    class="bg-white border border-lightgrey placeholder:text-lightgrey text-darkgrey text-body sm:text-body-lg rounded-mobile md:rounded-desktop focus:ring-orange-500 focus:border-orange-500  w-full  "
                                    placeholder="Fornavn" />
                                <input 
                                    type="text"
                                    class="bg-white border border-lightgrey placeholder:text-lightgrey text-darkgrey text-body sm:text-body-lg rounded-mobile md:rounded-desktop focus:ring-orange-500 focus:border-orange-500  w-full  "
                                    placeholder="Efternavn" />
                        </div>
                        <input 
                            type="text"
                            class="bg-white border border-lightgrey placeholder:text-lightgrey text-darkgrey text-body sm:text-body-lg rounded-mobile md:rounded-desktop focus:ring-orange-500 focus:border-orange-500 block w-full  "
                            placeholder="Adresse" 
                        />
                        <div class="flex flex-row gap-xs">
                            <input 
                                type="text"
                                class="bg-white border border-lightgrey placeholder:text-lightgrey text-darkgrey text-body sm:text-body-lg rounded-mobile md:rounded-desktop focus:ring-orange-500 focus:border-orange-500  w-full  "
                                placeholder="Postnummer" />
                            <input 
                                type="text"
                                class="bg-white border border-lightgrey placeholder:text-lightgrey text-darkgrey text-body sm:text-body-lg rounded-mobile md:rounded-desktop focus:ring-orange-500 focus:border-orange-500  w-full  "
                                placeholder="By" />
                        </div>
                        <input 
                        type="tel"
                        class="bg-white border border-lightgrey placeholder:text-lightgrey text-darkgrey text-body sm:text-body-lg rounded-mobile md:rounded-desktop focus:ring-orange-500 focus:border-orange-500 block w-full  "
                        placeholder="Telefonnummer" 
                        />
                        
                </div>
            </article>
            <article>
                <h2>Betaling</h2>  
                <div class="border border-lightgrey">
                    <div class="flex justify-between gap-xs p-xs border-b border-lightgrey">
                        <div class="flex items-center me-4">
                            <input checked id="kredit" type="radio" value="" name="levering" class="w-4 h-4 text-orange-500 bg-white border-lightgrey focus:ring-red-500 focus:ring-2">
                            <label for="kredit" class="ms-2 text-body sm:text-body-lg  text-darkgrey">Kreditkort</label>
                        </div>
                        <div class="flex gap-xxs justify-end lg:justify-center lg:flex-col">
                            <Image class='w-[35%] lg:w-m' src={Visa} alt="visa logo"></Image>    
                            <Image class='w-[35%] lg:w-m' src={Mastercard} alt="visa logo"></Image>    
                        </div>
                    </div>
                    <div class="bg-offwhite p-xs grid gap-xs">
                        
                        <input 
                        type="text"
                        class="bg-white border border-lightgrey placeholder:text-lightgrey text-darkgrey text-body sm:text-body-lg rounded-mobile md:rounded-desktop focus:ring-orange-500 focus:border-orange-500 block w-full  "
                        placeholder="Kortnummer" />
                        
                        <div class="flex flex-row gap-xs">
                            <!-- <input 
                                type="date"
                                class="bg-white border border-lightgrey  placeholder:text-lightgrey text-darkgrey text-body sm:text-body-lg  rounded-mobile md:rounded-desktop focus:ring-orange-500 focus:border-orange-500  w-full  "
                                placeholder="Udløbsdato (MM/ÅÅ)" /> -->
                                <input 
                                type="text"
                                class="bg-white border border-lightgrey  placeholder:text-lightgrey text-darkgrey text-body sm:text-body-lg  rounded-mobile md:rounded-desktop focus:ring-orange-500 focus:border-orange-500  w-full  "
                                placeholder="Udløbsdato (MM/ÅÅ)" />
                                
                            <input 
                                type="text"
                                class="bg-white border border-lightgrey placeholder:text-lightgrey text-darkgrey text-body sm:text-body-lg rounded-mobile md:rounded-desktop focus:ring-orange-500 focus:border-orange-500  w-full  "
                                placeholder="Sikkerhedskode" />
                        </div>
                        <input 
                        type="text"
                        class="bg-white border border-lightgrey placeholder:text-lightgrey text-darkgrey text-body sm:text-body-lg  rounded-mobile md:rounded-desktop focus:ring-orange-500 focus:border-orange-500 block w-full  "
                        placeholder="Navn på kortet" 
                        />
                    </div>
                </div>
            </article>
            <!-- betingelser -->
            <article>
                <div class="flex items-center mb-4">
                    <input id="checkbox-1" type="checkbox" value="" class="w-4 h-4 text-orange-500  bg-transparent border-lightgrey rounded focus:ring-orange-500 dark:focus:ring-orange-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" >
                    <label for="checkbox-1" class="ms-2 text-body sm:text-body-lg  text-darkgrey dark:text-gray-300">
                        Jeg accepterer 
                        <a href="#" class="underline">
                            abonnements-betingelserne
                        </a>
                        <span class="text-orange-500">
                            *
                        </span>
                    </label>
                </div>
                <div class="flex items-center ">
                    <input  id="checkbox-1" type="checkbox" value="" class="w-4 h-4 text-orange-500 bg-transparent border-lightgrey rounded focus:ring-orange-500 dark:focus:ring-orange-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" >
                    <label for="checkbox-1" class="ms-2 text-body sm:text-body-lg text-darkgrey dark:text-gray-300">
                        Jeg har læst og accepterer webshoppens 
                        <a href="#" class="underline">
                            Vilkår og betingelser
                        </a>
                        <span class="text-orange-500">
                            *
                        </span>
                    </label>
                </div>
              
            </article>
           
           
        </form>
        <div class="flex justify-end px-xs lg:px-lg pb-lg">
            <a href="/tak">
           <Button>Bestil nu</Button>
            </a>
       </div>
        </div>
    </article>

</MainLayout>