---
const { caption, bio, showButton = true } = Astro.props; // Added `showButton` prop with a default value of `true`
import Button from "../components/Button.astro";
---

<div class="pb-xs sm:pb-ml">
  <button class="accordion text-2xl md:text-large flex justify-between">
    <h2 class="italic">{caption}</h2>
    <span class="icon font-extralight"></span>
  </button>

  <div class="panel items-start overflow-hidden max-h-0 transition-[max-height]">
    <p class="py-xs">{bio}</p>

    {showButton && <Button variant="stroke">Min Naturvinskasse</Button>}
  </div>

  <div class="border border-[0.5px]" style="border-color: #686563;"></div>
</div>


<style>
  .accordion {
    cursor: pointer;
    padding: 3px; 
    width: 100%; 
    text-align: left; 
    outline: none; 
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  
  .icon::before {
    content: "+"; 
    display: inline-block;
    transition: transform 0.4s ease; 
    font-size: 3.5rem; 
    color: #f97316;
  }

  
  .accordion.active .icon::before {
    transform: rotate(45deg); 
  }

  .panel {

    
    max-height: 0; 
    transition: max-height 0.4s ease; 
    overflow: hidden;
  }

  
  .panel.active {
    max-height: 1000px;
  }

  
  .accordion:not(.active) + .border {
    margin-top: -2px; 
  }

  
  .panel.active + .border {
    margin-top: 20px; 
  }

  
  .panel.active {
    margin-bottom: 2px; 
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const accordions = document.getElementsByClassName("accordion");

    for (let i = 0; i < accordions.length; i++) {
      accordions[i].addEventListener("click", function () {
        this.classList.toggle("active"); 
        
        const panel = this.nextElementSibling;
        
        
        panel.classList.toggle("active");
      });
    }
  });
</script>