---
export interface Props {
  direction?: 'normal' | 'reverse'; // Specify animation direction
}

const { direction = 'normal' } = Astro.props;

const animationClass =
  direction === 'reverse' ? 'animate-scroll-reverse' : 'animate-scroll';
---

<div class="col-span-2 overflow-hidden">
  <div class="overflow-hidden whitespace-nowrap"> 
    <div class={`inline-block ${animationClass} min-w-full`}>
      <span class="text-display sm:text-display-lg font-caslon font-semibold italic text-orange-500 text-center m-0 flex flex-row gap-8 md:gap-12">
        <span>Mad & Vin</span>
        <span>•</span>
        <span>Mad & Vin</span>
        <span>•</span>
        <span>Mad & Vin</span>
        <span>•</span>
        <span>Mad & Vin</span>
        <span>•</span>
        <span>Mad & Vin</span>
        <span>•</span>
        <span>Mad & Vin</span>
        <span>•</span>
        <span>Mad & Vin</span>
        <span>•</span>
        <span>Mad & Vin</span>
        <span>•</span>
      </span>
    </div> 
  </div> 
</div>
