---
import Stjerne from "../assets/images/trustpilot_stjerne.svg";

---

<div>
    <div>
        <Image src={Stjerne} alt="Trustpilot stjerne" class="" />
        <Image src={Stjerne} alt="heyy"></Image>
    </div>
</div>